/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .nhr {
        font-weight: 500;
        font-size: 14px;
    }
    .nbtn {
        font-size: 15px;
    }
    header{
        overflow: hidden;
    }
    .menu-area{
        display: none;
    }
    .mobile-bottom-section {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #ffb901;
        display: block;
        z-index: 999;
    }
    .bottom-section-icon{
        display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    }
    .bottom-icon{
        width: 50px;
        height: 60px;
        background-color: #ffb901;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .bottom-icon i{
        color: white;
    }

    /* top mobile menu area */
    .top-mobile-menu{
        position: relative;
        top: 0;
        left: 0;
        display:block
    }
    .top-menu-area {
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 15% 50% 15%;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }
    .top-logo img{
        width: 90%;
    }
    .humberger-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .top-notification-icon{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .material-icons{
        font-size: 30px;
    }

    /* top bar */
    .girid-container {
        grid-template-columns: auto;
    }
    .notification-area{
        display: none;
    }
    .logo{
        display: none;
    }
    /* slider */
    .slider {
        height: 200px;

    }
    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 170px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 50px;
        height: 6px;
    }
    .owl-dots {
        left: 20%;
    }
  /* feature categories */
  .featured-categories {
    display: none;
}
    /* product card style start*/
    .product-grid-container {
        grid-template-columns: auto auto;
        gap: 5px;
    }
    .product {
        padding: 5px;
        width: 160px;
        min-height: 250px;
        -webkit-box-shadow: -1px 3px 28px -15px rgba(161, 161, 161, 1);
        -moz-box-shadow: -1px 3px 28px -15px rgba(161, 161, 161, 1);
        box-shadow: -1px 3px 28px -15px rgba(161, 161, 161, 1);
    }
    .product-img-area {
        width: 100%;
        height: 170px;
    }
    .product-img-area img {
        width: 100%;
        height: 170px;
    }
    .procduct-action {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }
    #quick{
        display: none!important;
    }
    .quick-view-product {
        width: 30px;
        height: 30px;
        padding: 0px 0px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .product-name {
        font-weight: 400;
        font-size: 14px;
    }
    .product-price {
        width: 100%;
        margin-top: 10px;
    }
    footer{
        display: none;
    }
    

}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
